.btn {
    border-radius: 0;
  }
body, html {
    height: 100%;
  }

#result {
	position: relative;
	text-align: center;
	color: white;
}

#result-image {
	margin: 20px;
}

#form {
	margin: 20px;
}

body {
	/* background-color: rgb(220, 220, 220); */
}

#form input {
	text-align-last: center;
}

#card_container {
	align-content: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

@media(max-width: 480px) {
	img {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#card {
		min-height: 70vh;
		width: 100vw;
		margin: 0px;
	}
	#card_container {
		margin: 0px;
	}
}

@media(min-width: 481px) {
	img {
		max-width: 100%;
		max-height: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	#card {
		min-height: 450px;
		width: 80vw;
	}
}

@media(min-width: 1024px) {
	img {
		max-width: 100%;
		max-height: 180px;
		margin-left: auto;
		margin-right: auto;
	}
	#card {
		min-height: 410px;
		width: 80vw;
	}
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

datalist {
	text-align-last: center;
}

iframe { 
	width: 100%;
	aspect-ratio: 16 / 9;
  }





/* SIDEBAR ADDDED */

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    /* background: #fafafa; */
}

p {
    /* font-family: 'Poppins', sans-serif; */
    /* font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #818181; */
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /* background: #EAECEF;; */
    /* color: #292929; */
    transition: all 0.3s;
	/* min-height: 203rem; */
    min-height: 100vh;
   
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    /* padding: 20px; */
    /* background: #EAECEF; */
    /* background: #007bff; */
}

#sidebar ul.components {
    /* padding: 20px 0; */
    /* border-bottom: 1px solid #EAECEF; */
}

#sidebar ul p {
    /* color: #2e4260; */
    /* color: blue;
    padding: 10px; */
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    font-weight: 500;
}

#sidebar ul li a:hover {
    /* color: #000000;
    background: #fff; */
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000000; 
    /* background: #565656; */
    /* background: #fafafaff; */
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #fafafaff; */
    /* height: 500px;; */
    /* height: 100vh; */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* SIDEBAR ADDED */
    
#response {
    font-family: Menlo !important;


    /* border: 1px solid #3B3E32; */
    color: #393939;
    font-size: 12px;
    /* margin-top: 0px;
    margin-bottom: 80px; */
    white-space: pre-wrap;
    word-wrap: break-word;
    /* padding-bottom: 20px; */
    background-color: rgb(255, 255, 255);
}

#response p {
    margin: 0;
    color: #0000ffff;

}

#response .text-success {
    color: #0000ffff;
}

#response .text-danger {
    color: #636363;
}

#codeForm {
    margin: 0px;
    padding: 0px;;
}
button:focus {
    outline: none;
  }


  pre {

    /* border: 1px solid #e1e1e1;
    border-radius: 4px;
    display: inline-block;
    font-family: 'Menlo', 'Courier', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 12px;
    white-space: pre-wrap; */
  }

  button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  }

 

  button:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .ace_gutter {
	background-color: #fff;
}

.ace_editor .ace_gutter {
    background-color: #fff !important;
}
.ace_gutter-active-line {
    background-color: transparent !important;
}

#codeForm {
    position: relative;
}

#runCodeBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}


.editor-container {
    position: relative;
    height: 400px;
}

#editor {
    height: 100%;
}



#runCodeBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


