<!-- Paths -->
<div class="container text-center py-5">
    <h1 id="all-paths-heading" class="text-center">Paths</h1>
    <p>We'll Learn each Software Stack Together</p>
    <div class="row text-center p-3">
        <!-- First group of images -->
        
        <div class="col-6">
            <div class="header">Learning to Code</div>
            <div class="description">Learning to code with JavaScript </div>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/beginningcoding.png" alt="Image 1" class="img-fluid" width="100px">
                <span class="arrow">&#8594;</span>
            </div>
            </a>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/github.png" alt="Image 2" class="img-fluid" width="100px">
                <!-- <span class="arrow">&#8594;</span> -->
            </div>
            </a>
        </div>
    </div>
    <div class="row">
        <!-- First group of images -->

    </div>

    <div class="row">
        <!-- First group of images -->
        <div class="col-6">
            <div class="header">Web Development</div>
            <div class="description">Learn how to build a website with HTML, CSS, and JavaScript </div>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/html.png" alt="Image 1" class="img-fluid" width="100px">
                <span class="arrow">&#8594;</span>
            </div>
            </a>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/css.png" alt="Image 2" class="img-fluid" width="100px">
                <span class="arrow">&#8594;</span>
            </div>
            </a>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/js.png" alt="Image 2" class="img-fluid" width="100px">
                <!-- <span class="arrow">&#8594;</span> -->
            </div>
            </a>
        </div>
        <div class="col-6">
            <div class="header">iOS Development</div>
            <div class="description">Build an iOS Application with Swift and UIKit </div>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/swift-lang.png" alt="Image 1" class="img-fluid" width="100px">
                <span class="arrow">&#8594;</span>
            </div>
            </a>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/swift.png" alt="Image 2" class="img-fluid" width="100px">
                <!-- <span class="arrow">&#8594;</span> -->
            </div>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <!-- First group of images -->
        <div class="col-6">
            <div class="header">Full Stack Development with Python</div>
            <div class="description">Learn full stack development</div>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/python.png" alt="Image 1" class="img-fluid" width="100px">
                <span class="arrow">&#8594;</span>
            </div>
            </a>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/django.png" alt="Image 2" class="img-fluid" width="100px">
                <!-- <span class="arrow">&#8594;</span> -->
            </div>
            </a>
        </div>
        <div class="col-6">
            <div class="header">Terminal & Version Control</div>
            <div class="description">Learn how to navigate terminal and version control with Git </div>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
                <div class="image-container">
                    <img src="/static/macterminal.png" alt="Image 1" class="img-fluid" width="100px">
                    <span class="arrow">&#8594;</span>
                </div>
            </a>
            <a href="/swift_html/1" style="text-decoration: none; color: inherit;">
            <div class="image-container">
                <img src="/static/github.png" alt="Image 2" class="img-fluid" width="100px">
                <!-- <span class="arrow">&#8594;</span> -->
            </div>
            </a>
        </div>
    </div>
    <!-- Add more rows with headers, descriptions, and images as needed -->
</div>





<hr>


<div class="container py-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="text-center">Most Used Programming Languages in 2023</h1>
            <small> <i class="bi bi-info-circle"></i> Click on each bar for more information.</small>

            <div id="chart"></div>

        </div>


    </div>

</div>