

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/menlo" rel="stylesheet">
                
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-swift.js"></script>
    
    {% include 'googlefont.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz.css'%}">

    <title>{% block title %}Welcome{% endblock %}</title>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</head>

<body>


    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/success">
            Coding Bear
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/success">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{user.id}}">My Quotes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/activity">Activity</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="navbar-text mr-4" href="/settings/{{user.id}}" role="button"> {{ user.first_name }}
                    {{user.last_name}}</a>
                <a class="btn btn-outline-secondary" href="/logout" role="button">Logout</a>
            </span>
        </div>
    </nav>
    <!-- navbar -->

    <!-- sidebar -->
    <!-- <button type="button" id="sidebarCollapse" class="btn text-white">
        <i class="fas fa-align-left"></i>
        <span>Toggle Sidebar</span>
    </button> -->

    <div class="wrapper">
        <!-- Sidebar  -->

        <nav id="sidebar">
            <!-- <div class="sidebar-header">
                    <h3>Bootstrap Sidebar</h3>
                </div> -->

            <p></p>
            <ul class="list-unstyled components">

                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="collapse">1. Welcome</a>
                    <ul class="collapse list-unstyled show" id="homeSubmenu">
                        <li>
                            <!-- <a href="/">Home 1</a> -->
                            <a class="nav-link" href="/swift_html/1">1.1 - What is Swift?</a>
                        </li>
                        <li>
                            <!-- <a href="#">Home 2</a> -->
                            <a class="nav-link" href="/swift_html/2">1.2 - Type Inference and Type
                                Annotations</a>
                        </li>
                        <li>
                            <!-- <a href="#">Home 2</a> -->
                            <a class="nav-link" href="/swift_html/3">1.3 - Loops</a>
                        </li>
                    </ul>
                </li>

                <li class="active">

                    <a href="#welcome" data-toggle="collapse" aria-expanded="false" class="collapse">2. The
                        Basics</a>

                    <ul class="collapse list-unstyled show" id="welcome">
                        <li>
                            <!-- <a href="/">Home 1</a> -->
                            <a class="nav-link" href="#" onclick="injectContent(1)">2.1 Variables and Constants</a>
                        </li>
                        <li>
                            <!-- <a href="#">Home 2</a> -->
                            <a class="nav-link" href="#" onclick="injectContent(2)">2.2 Type Inference and Type
                                Annotations</a>
                        </li>
                        <li>
                            <!-- <a href="#">Home 2</a> -->
                            <a class="nav-link" href="#" onclick="injectContent(3)">2.3 Type Inference and Type
                                Annotations</a>
                        </li>
                    </ul>
                </li>

                <li class="active">
                    <a href="#basicOps" data-toggle="collapse" aria-expanded="false" class="collapse">3. Basic
                        Operators</a>
                    <ul class="collapse list-unstyled show" id="basicOps">
                        <li>
                            <!-- <a href="/">Home 1</a> -->
                            <a class="nav-link" href="#" onclick="injectContent(1)">3.1 - Arithmetic Operators</a>
                        </li>
                        <li>
                            <!-- <a href="#">Home 2</a> -->
                            <a class="nav-link" href="#" onclick="injectContent(2)">3.2 - Logical Operators</a>
                        </li>
                        <li>
                            <!-- <a href="#">Home 2</a> -->
                            <a class="nav-link" href="#" onclick="injectContent(3)">3.3 - Type Inference and Type
                                Annotations</a>
                        </li>
                    </ul>
                </li>



            </ul>




        </nav>
        <button style="background-color: #EAECEF; border: none;" type="button" id="sidebarCollapse">
            <i class="fas fa-align-left"></i>
            <!-- <span>Toggle Sidebar</span> -->
        </button>

        <!-- Page Content  -->

        <div class="container p-4">

            <!-- start new content reuse -->

            {% block content %}



            {% endblock %}
            
            <form id="codeForm" method="post" style="margin:0px; position: relative;">
                {% csrf_token %}
            
                <!-- <div class="mb-3" style="margin-top: 0px;"> -->
                <div id="editor" style="height: 400px;"></div>
                <textarea style="display:none;" class="form-control" id="codeInput" name="code" rows="10"
                    placeholder="Write your code here"></textarea>
                <!-- </div> -->
                <div id="response" style="margin: 0px;"></div>
                <button type="submit" class="btn btn success mb-3 rounded-0" style="font-family: Menlo !important;">Run
                    Code</button>
            </form>

            
            <a class="" href="/swift_html/{{next_page}}">Next Page</a>
            <a class="" href="#" onclick="">Ask a Question</a>


            
            
            <!-- end new content reuse -->
          

            
            
            

        </div>










    </div>



    <!-- sidebar -->

  

<script>
    
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/swift");
    editor.setOption("showPrintMargin", false);


    editor.setTheme("ace/theme/monokai-light");
    editor.setFontSize("16px"); // Set font size to 16px
    editor.setOptions({
        fontFamily: "Menlo, Monaco, 'Courier New', monospace", // Set font family
        fontWeight: "normal", // Set font weight
        fontSize: "14px" // Set font size
    });


//     var swiftCode = `func findMax(_ numbers: [Int]) -> Int {
//     return numbers.max()!
// }
// let numbers = [12, 45, 67, 23, 9]

// print(findMax(numbers))`
    editor.getSession().setValue(swiftCode);

    // Update textarea with editor content on form submit
    document.getElementById("codeForm").addEventListener("submit", function () {
        document.getElementById("codeInput").value = editor.getSession().getValue();
    });

    document.getElementById('codeForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const codeInput = document.getElementById('codeInput').value;
        console.log("CODEINPUT: ", codeInput);
        const responseDiv = document.getElementById('response');


        // const expectedOutput = '67';

        const response = await fetch('/submit_code/' + encodeURIComponent(expectedOutput), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ code: codeInput })
        });
        const result = await response.json();
        if (result.status === 'success') {
            responseDiv.innerHTML = `<p>Output: ${result.output_code}<br>Correct!<br>Points Awarded: ${result.points}</p>`;
        } else {
            responseDiv.innerHTML = `<p class="text-danger">Output: ${result.output_code}<br>Incorrect! Please try again.</p>`;
        }
    });


    

   
</script>
  








    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>