
    <div class="container">
        <h1>Welcome to Swift Beginnings</h1>
        <p>Sometimes, it’s useful to represent the absence of a value. Imagine a scenario where you need to refer to a
            person’s identifying information; you want to store the person’s name, age and occupation. Name and age are
            both things that must have a value — everyone has them. But not everyone is employed, so the absence of a
            value for occupation is something you need to handle.</p>

        <p>Without knowing about optionals, this is how you might represent the person’s name, age and occupation:</p>

        <pre><code>
    var name = &quot;Matt Galloway&quot;
    var age = 30
    var occupation = &quot;Software Developer &amp; Author&quot;
    </code></pre>
        <p>But what if I become unemployed? Maybe I’ve won the lottery and want to give up work altogether (I wish!).
            This is when it would be useful to be able to refer to the absence of a value.</p>
        <p>Why couldn’t you just use an empty string? You <em>could</em>, but optionals are a much better solution. Read
            on to see why.</p>
    </div>

   

    
</div>